.App {
    padding: 20px 10px;
}
main {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.todo__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}